<h1>Modify User <%=@user.email%></h1>

<%= form_for @user do |f| %>

<P><%= f.text_field :email %></P>

<P><%=f.text_field :role %></P>

<P><%=f.submit "Update User", :class => "btn btn-primary" %></P>


<% end %>