<h1><%=@unit.address%></h1>

<p>Current Owner: <% if @unit.user != nil %>
<%= @unit.user.email %>
<% else %>
None
<% end %></p>

<%= form_for @unit do |f| %>
<P><%= f.label "Change Owner:" %></P>
<P><%= f.collection_select :user_id, User.order(:email), :id, :email, include_blank: true %></P>
<P><%= f.label "Current Dues: $#{@unit.dues}"%></P>
<p><%= f.submit "Update Unit", :class => "btn btn-primary" %></p>


<% end %>