<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %> 
          <li><%=link_to "Home", root_url %></li>
          <li><%= link_to "Pay Dues", new_charge_url%> </li>
          <li><%=link_to "Log out", destroy_user_session_url, method: "delete" %></li>
          <P class="navbar-text">Signed in as <%= "#{current_user.email}" %> </P>
        <% else %>
        <li><%=link_to "Sign up", new_user_registration_url %></li>
        <li><%=link_to "Log in", new_user_session_url%></li>
        <% end %>
      </ul>
      
    </nav>
    
  </div>
</header>
  
<% if notice %>
<div class="alert alert-success"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%=notice %></div>
<% end %>

<% if flash[:error] %>
<div class="alert alert-warning"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%=flash[:error] %></div>
<% end %>

<% if alert %>
<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%=alert%></div>
<% end %>

<%= yield %>
</body>
</html>
